<launch>

 <include file="$(find urdf_arm_moveit2)/launch/gazebo.launch"/>

 <include file="$(find urdf_arm_moveit2)/launch/move_group.launch"/>
    <!-- rviz -->
  <arg name="open_rviz" default="true"/>
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find urdf_arm_moveit2)/rviz/robot_rviz.rviz"/>
  </group> 

</launch>
